* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    font-family: Gill Sans Extrabold, sans-serif;
    font-size: 16px;
    height: 100%;
    color:rgb(104, 104, 104);
    font-weight: 500;
}
body {
    display: flex;
    flex-direction: column;
}
.header {
    display: inline-block;
    height: 610px;
    width: 100%;
}
.black{
    max-width: calc(50% + 2px);
    height: 715px;
    background-color: black;
}
.logo {
    position: absolute;
    top: 50px;
    left:calc(50% - 201px);
}
nav {
    position: absolute;
    width: 90%;
    left: 5%;
    height: 40px;
}
.main-navigation {
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
    margin: 12px 0 0 0;
    color:white;
    text-decoration: none;
}
a {
    color: white;
}
.main-navigation-black a{
    color: rgb(112, 112, 112);
}
h1 {
    font-size: 60px;
    font-style: bold;
}
.main-title {
    position:absolute;
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
    color: white;
    left: 20%;
    top: 140px;
}
.main-title p{
    font-size: 24px;
    margin: 0 -35px;
}
.section-contacts {
    color: white;
    right: 40px;

}
main {
    box-sizing: border-box;
    width: 100%;
}
.contacts-main {
    list-style-type: none;
    padding: 15px 0 0 320px;
    letter-spacing: 2px;
}
.contacts-main li {
    padding: 5px;
}
.main-section{
    display:flex;
    flex-wrap:wrap;
    padding-top: 105px;
}
section {
    flex: 0 1 50%;
    padding: 25px;
}
h2 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: rgb(104, 104, 104);
    font-size: 24px;
    margin-top: -10px;
}
.section-about {
    padding: 5px;
}
.head-section {
    position: absolute;
    display:flex;
    flex-wrap:wrap;
    top: 550px;
}
.head-section section {
    padding: 25px 20px;
    flex: 0 1 50%;
}
.void {
    height: 100px;
}
.section-contacts {
    margin-top: -27px;
    padding: 0 10px 0 3500px;
    font-size: 18px;
}
.skills li{
    font-weight: 700;
    list-style-type: none;
    background: url('../rsschool-cv/img/icon/27406.svg') left no-repeat;
    padding: 7px 0 0 38px;
}
.skills ul{
    padding: 50px 0 0 160px;
}
.section-code,.skills {
    border-bottom: 2px double #727272;
}
.projects p{
    font-weight: 600;
}
a {
    text-decoration: none;
}
.projects a{
    color:#727272;
}
.footer-logo {
    height: 50px;
}
.footer-text {
    color: white;
}
.footer-main {
    flex: 0 0 auto;
    background-color: black;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}
.footer {
    flex: 1 1 33,333%;
}
.section-contacts h2{
    color: black;
    margin-top: -50px;
}